*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    padding: 20px;
    background: rgb(255, 121, 215);
}
#dog{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 50px;
    gap: 10px;
}